<ActionBar title="Productos" class="action-bar">
</ActionBar>

<StackLayout>
    <ScrollView height="100%">
        <StackLayout>
            <!-- <MDCardView elevation="5" borderRadius="10" margin="10"> -->
            <GridLayout rows="auto" columns="110, *" *ngFor="let producto of aProductos" borderRadius="10"
                margin="10" borderWidth="1" borderColor="#EAE8E8">
                <StackLayout col="0" horizontalAlignment="center" verticalAlignment="center" margin="5">
                    <Image [src]="producto.images[0]" width="60"></Image>
                    <Label [text]="producto.title" textWrap="true" fontWeight="bold" textAlignment="center"></Label>
                </StackLayout>
                <StackLayout row="0" col="1" margin="10">
                    <GridLayout rows="auto, auto" columns="*, *">
                        <StackLayout row="0" col="0" colSpan="2" horizontalAlignment="center">
                            <Label text="Descripción" textWrap="true" textAlignment="center"></Label>
                            <Label [text]="producto.description" textWrap="true" fontWeight="bold"></Label>
                        </StackLayout>
                        <StackLayout row="1" col="0" horizontalAlignment="center">
                            <Label text="Marca" textWrap="true"></Label>
                            <Label [text]="producto.brand" textWrap="true" fontWeight="bold"></Label>
                        </StackLayout>
                        <StackLayout row="1" col="1" horizontalAlignment="center">
                            <Label text="Precio" textWrap="true"></Label>
                            <Label text="{{producto.price | currency: '$'}}" textWrap="true" fontWeight="bold"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
            <!-- </MDCardView> -->
        </StackLayout>
    </ScrollView>
</StackLayout>